.watchlist-container {
    margin-top: 30px;
}

.wc-tab-name {
    min-width: 90px;
    max-width: 120px;
    padding: 12px;
    background-color: #0d0b13;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wc-tab-name h3 {
    font-size: 16px;
}

.watchlist-card {
    width: auto;
    height: auto;
    border-radius: 5px;
}

.wc-thead {
    background-color: #0d0b13;
    border-radius: 0px 5px 0px 0px;
}

.wc-tbody {
    background-color: #171420;
    border-radius: 0px 0px 5px 5px;
}

.wc-tr {
    width: 100%;
    height: 50px;
    display: flex;
}

.wc-th {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wc-th p {
    font-size: 14px;
}

.wc-th img {
    width: 25px;
    margin-right: 15px;
}
