.crypto-butler-thead {
  background-color: #0d0b13;
  border-radius: 5px 5px 0px 0px;
}

.crypto-butler-tbody {
  background-color: #171420;
  border-radius: 0px 0px 5px 5px;
}

.crypto-butler-tr {
  width: 100%;
  height: 50px;
  display: flex;
}

.crypto-butler-th {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto-butler-th p {
  font-size: 14px;
}

.crypto-butler-th img {
  width: 25px;
  margin-right: 15px;
}
