.portfolio-container,
.portfolio-show {
  margin-top: 30px;
}

.portfolios-header h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.portfolio-card {
  width: auto;
  height: auto;
  background: linear-gradient(
    90deg,
    rgb(104, 95, 228) 0%,
    rgba(58, 58, 237, 1) 50%,
    rgb(39, 52, 190) 100%
  );
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(39, 52, 190, 0.5);
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in;
  margin-bottom: 30px;
}

.portfolio-card:hover {
  box-shadow: 0px 0px 15px rgba(39, 52, 190, 0.8);
}

.portfolio-card-header h3 {
  font-size: 16px;
}

.portfolios-all a {
  color: white;
  text-decoration: none;
}

/* ----- PORTFOLIO SHOW ------ */

.ps-header {
  width: 100%;
  height: 60px;
}

.ps-header p {
  font-size: 15px;
  color: #ccc8ff;
}

.ps-header span {
  font-size: 14px;
}

.ps-header-tr {
  width: 100%;
  height: 100%;
  display: flex;
}

.ps-header-th {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #171420;
}

.ps-header-th:last-child {
  border-right: none;
}
