.portfolio-show {
  margin-top: 30px;
}

.portfolio-name-main {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.portfolio-name-main h2 {
  font-size: 25px;
  margin-bottom: 0;
}

.portfolio-name-tab {
  width: 200px;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  background-color: #0d0b13;
}

.portfolio-tables {
  margin-top: 40px;
}

.cb-section-header h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ps-header {
  width: 100%;
  height: 60px;
}

.ps-header p {
  font-size: 15px;
  color: #ccc8ff;
}

.ps-header span {
  font-size: 14px;
}

.ps-header-tr {
  width: 100%;
  height: 100%;
  display: flex;
}

.ps-header-th {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #171420;
}

.ps-header-th:last-child {
  border-right: none;
}

.ps-body-coins {
  margin-top: 40px;
}

.portfolio-danger-zone {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.portfolio-danger-zone button {
  padding: 3px 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(233, 39, 39);
  color: white;
}

/* .edit-transaction-popup,
.new-transaction-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-transaction-popup .cb-modal,
.cb-modal {
  width: 80%;
  height: 10%;
  border-radius: 5px;
  background-color: purple;
} */

.new-transaction-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MODALS CSS */

.cb-modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cb-modal {
  width: 425px;
  height: 425px;
  border-radius: 8px;
  background-color: #0d0b13;
}

.cb-modal-img-container {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.cb-modal-img-container img {
  width: 60px;
  height: 60px;
}

.cb-modal-form-container {
  width: 100%;
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cb-modal-form-container label {
  margin: 5px;
}

.cb-modal-form-container input {
  border: none;
  padding: 3px;
  border-radius: 5px;
}

.cb-form-control input[type='submit'] {
  margin-top: 15px;
  width: 25%;
  background-color: rgb(29, 141, 185);
  color: white;
}

.cb-modal-form-container input:focus {
  outline: none;
}

.cb-form-control {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.cb-modal-btns-container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
}

.cb-modal button {
  width: 80px;
  height: 32px;
  border: none;
  border-radius: 5px;
  margin: 0px 5px 0px 10px;
}

.transaction-delete-btn {
  background-color: rgb(224, 39, 39);
  color: white;
}

.cancel-modal-btn {
  background-color: rgb(15, 128, 90);
  color: white;
}

.cb-fc-mb {
  margin-bottom: 20px;
}

.delete-portfolio-modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-portfolio-modal {
  width: 400px;
  height: 150px;
  background-color: #0d0b13;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-portfolio-modal button {
  border: none;
  border-radius: 5px;
  width: 100px;
  margin: 15px;
}

.delete-portfolio-modal a {
  color: black;
  text-decoration: none;
}
